@model IEnumerable<Veterinaria.Web.Models.Consult>

@{
    ViewBag.Title = "Consultas";
}

<h2 class="text-center display-4">Consultas</h2>
<br />

<a href="@Url.Action("Create","Consults")" class="btn btn-sm btn-dark">
    <span class="text-white-50"><i class="fas fa-plus"></i></span>
    <span class="text-white"> Añadir</span>
</a>

<br />
<br />

<table class="table" id="consults">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConsultDate)
            </th>
            <th>
                Veterinario
            </th>
            <th>
                Mascota
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsultType)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.ConsultDate))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Veterinary.ApplicationUser.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pet.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsultType)
            </td>
            <td>
                <a href="@Url.Action("Edit","Consults",new { id=item.Id})" class="btn btn-sm btn-primary"><i class="fas fa-pen"></i></a>
                <a href="@Url.Action("Delete","Consults",new { id=item.Id})" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
        }
    </tbody>

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $('#consults').DataTable({
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }
            });
        });
    </script>
}