@model Veterinaria.Web.Models.Pet

@{
    ViewBag.Title = "Mascotas";
}

<h2 class="text-center display-4">Añade una mascota</h2>
<br />

<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow" style="width:25rem; margin:1rem;">
            <div class="card-header bg-primary text-white text-center">Información</div>
            <form action="@Url.Action("Create","Pets")" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="font-weight-bold">Nombre:</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="font-weight-bold">Tipo de Mascota:</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PetType, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PetType, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="font-weight-bold">Edad:</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.BirthDate, htmlAttributes: new { @class = "font-weight-bold" })
                            <div class="col-md-10">
                                <input type="date" name="BirthDate" value="" class="form-control" />
                                @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Color, htmlAttributes: new { @class = "font-weight-bold" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Color, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Race, htmlAttributes: new { @class = "font-weight-bold" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Race, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Race, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Weight, htmlAttributes: new { @class = "font-weight-bold" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Height, htmlAttributes: new { @class = "font-weight-bold" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Height, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Height, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="font-weight-bold">Foto:</label>
                            <div class="col-md-10">
                                <input type="file" name="pimage" value="" class="form-control-file" />
                            </div>
                        </div>

                        <div class="form-group text-center">
                            <button class="btn btn-sm btn-primary">
                                <span class="text-white-50"><i class="fas fa-plus"></i></span>
                                <span class="text-white"> Guardar</span>
                            </button>
                            <a href="@Url.Action("Index","Pets")" class="btn btn-sm btn-dark">
                                <span class="text-white-50"><i class="fas fa-arrow-alt-circle-left"></i></span>
                                <span class="text-white"> Regresar</span>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>