@model Veterinaria.Web.Models.Pet

@{
    ViewBag.Title = "Mascotas";
}

<h2 class="text-center display-4">Eliminar una mascota</h2>
<br />

<div class="row justify-content-center">
    <div class="card" style="width:25rem; margin:1rem;">
        <img class="card-img-top" src="https://nebula.wsimg.com/aa23c2a853264ffd5608bae4c3b3ab62?AccessKeyId=75084DE0FCCF93BBA482&disposition=0&alloworigin=1" alt="Alternate Text" />
        <div class="card-header text-center bg-danger text-white">¿Seguro que deseas eliminar a @Model.Name?</div>
        <div class="card-body">
            <table>
                <tr>
                    <td class="font-weight-bold font-italic">Tipo: </td>
                    <td> @Model.PetType</td>
                </tr>
                <tr>
                    <td class="font-weight-bold font-italic">Edad: </td>
                    <td> @Model.Age</td>
                </tr>
                <tr>
                    <td class="font-weight-bold font-italic">Nacimiento: </td>
                    <td> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.BirthDate))</td>
                </tr>
                <tr>
                    <td class="font-weight-bold font-italic">Color: </td>
                    <td> @Model.Color</td>
                </tr>
                <tr>
                    <td class="font-weight-bold font-italic">Raza: </td>
                    <td> @Model.Race</td>
                </tr>
                <tr>
                    <td class="font-weight-bold font-italic">Peso: </td>
                    <td> @Model.Weight</td>
                </tr>
                <tr>
                    <td class="font-weight-bold font-italic">Altura: </td>
                    <td> @Model.Height</td>
                </tr>
                <tr>
                </tr>
            </table>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="text-center" style="margin:0.5rem;">
                <input type="submit" value="Eliminar" class="btn btn-sm btn-danger" />
                <a href="@Url.Action("Index","Pets")" class="btn btn-sm btn-dark">
                    <span class="text-white-50"><i class="fas fa-arrow-alt-circle-left"></i></span>
                    <span class="text-white"> Regresar</span>
                </a>
            </div>
        }
    </div>
</div>