@model Veterinaria.Web.Models.Pet

@{
    ViewBag.Title = "Detalles";
}

    <div class="row justify-content-center">
        <div class="card shadow" style="width: 18rem; margin:1rem;">
            <img src="https://nebula.wsimg.com/aa23c2a853264ffd5608bae4c3b3ab62?AccessKeyId=75084DE0FCCF93BBA482&disposition=0&alloworigin=1" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title font-italic text-center">@Model.Name</h5>
                <p class="card-text text-center">@Model.PetType | @Model.Race</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Color: @Model.Color</li>
                <li class="list-group-item">Altura: @Model.Height m.</li>
                <li class="list-group-item">Peso: @Model.Weight kg.</li>
                <li class="list-group-item">Nacimiento: @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.BirthDate))</li>
            </ul>
            <div class="card-body text-center">
                <a href="@Url.Action("Index","Pets", new { id = Model.Id})" class="btn btn-sm btn-dark">
                    <span class="text-white-50"><i class="fas fa-arrow-alt-circle-left"></i></span>
                    <span class="text-white"> Regresar</span>
                </a>
                <a href="@Url.Action("Delete","Pets", new { id = Model.Id})" class="btn btn-sm btn-danger">
                    <span class="text-white-50"><i class="fas fa-trash"></i></span>
                    <span class="text-white"> Eliminar</span>
                </a>
            </div>
        </div>
    </div>