@model IEnumerable<Veterinaria.Web.Models.Pet>

@{
    ViewBag.Title = "Mascota";
}

<h2 class="text-center display-4">Mascotas</h2>
<br />

<a href="@Url.Action("Create","Pets")" class="btn btn-sm btn-dark">
    <span class="text-white-50"><i class="fas fa-plus"></i></span>
    <span class="text-white"> Añadir</span>
</a>

<br />
<br />

<div class="row justify-content-center">
    @foreach (var item in Model)
    {
        <div class="card shadow" style="width: 18rem; margin:1rem;">
           <img src="~/Content/Img/@item.Image" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title font-italic text-center">@item.Name</h5>
                <p class="card-text text-center">@item.PetType, @item.Race</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Color: @item.Color</li>
                <li class="list-group-item">Altura: @item.Height m.</li>
                <li class="list-group-item">Peso: @item.Weight kg.</li>
                <li class="list-group-item">Nacimiento: @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.BirthDate))</li>
            </ul>
            <div class="card-body text-center">
                <a href="@Url.Action("Edit","Pets", new { id = item.Id})" class="btn btn-sm btn-primary">
                    <span class="text-white-50"><i class="fas fa-pen"></i></span>
                    <span class="text-white"> Editar</span>
                </a>
                <a href="@Url.Action("Delete","Pets", new { id = item.Id})" class="btn btn-sm btn-danger">
                    <span class="text-white-50"><i class="fas fa-trash"></i></span>
                    <span class="text-white"> Eliminar</span>
                </a>
            </div>
        </div>
    }
</div>